.about{
    padding: 3em 1em;
}
.about__box__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about__box__content p{
    padding: 2em;
    text-align: center;
}
.about__box__content iframe{
    border: none;
    width: 100%;
    height: 100%;
}
@media(min-width:992px){
    .about{
        padding: 3em;
    }
    .about__box__content{
        flex-direction: column;
    }
}