.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;

}
.blog__button{
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    z-index: 10;
    background-color: #222831;
    transition: 0.3s all;
    -webkit-animation: pulsate-bck 3s ease-in-out infinite both;
	animation: pulsate-bck 3s ease-in-out infinite both;
}
.blog__button:hover{
    color: #00ADB5;
}
.video{
    height: 100%;
    width: 100%;
    z-index: 0;
    display: block;
    object-fit: cover;
    z-index: -1;
    will-change: transform;
    overflow: hidden;
}
.background{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 2;
}
.title h1{
    margin: 0;
    padding-bottom: 1em;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.button{
    position: relative;
    padding: 1em 2em;
    border-radius: 50px;
    border: 1px solid white;
    height: 3rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background-color: #222831;
    transition: all 0.475s;
  }
  .button:hover{
    color: white;
  }
.button:hover::before {
    transform: scaleX(1);
  }
  .button__content{
    position: relative;
  z-index: 1;
}
@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }