.socials{
    padding: 3em 1em;
}
.socials__box__cardContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 2em 0;
    background-color: #393E46;
    border-radius: 50px;
    border: 1px solid #00ADB5;
}
.socials__box__card{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 2em;
    background-image: url('../../../public/1.jpg');
    background-position: center center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.socials__box__card a{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.socials__box__card-instagram{
    background-image: url('../../../public/3.jpg');
}

.socials__box__card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #2c26e1;
    opacity: 0.3;
    z-index: 1;
    transition: 0.3s all;
}
.socials__box__card-instagram::after{
    background:#E1306C ;
    }
.socials__box__card svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    transition: 0.3s transform;
}
.socials__box__card:hover::after {
    opacity: 0.5;
}
.socials__box__card:hover svg{
    transform: translate(-50%,-50%) scale(1.1);
    transition: transform 0.3s ease;
}
@media(min-width:576px){
    .socials__box__card{
        width: 250px;
        height: 250px;
    }
}
@media(min-width:992px){
    .socials{
        padding: 3em;
    }
    .socials__box__cardContainer{
        flex-direction: row;
    }
}