.layout{
    width: 100%;
    height: 100%;
}
.title{
    font-size: 2.5rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container__box{
    position: relative;
    margin: 2em 0;
    border-radius: 50px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: linear-gradient(114deg, #947763,#AD8B73, #c1ab8b);

}

