.news{
    padding: 5em;
}
.background{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background: #AD8B73;
    border-radius: 50px;
    padding: 2em;
    gap: 2em;
    margin: 2em 0;
}
.news__box{
    max-width: 1200px;
    margin: 0 auto;
}
.news__box-item{
    width: 45%;
    border-radius: 20px;
    height: 200px;
    background: #CEAB93;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news__box-item:hover{
    transform: scale(1.05);
}