@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body,html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: rgb(158, 6, 6);
  --background-color:#222222;
  --accent-color:rgb(96, 9, 9);
  --text-color: #ffffff;
  line-height: 1.6;
  letter-spacing: 1px;
word-spacing: 1px;
max-width: 100%;
background-color: var(--background-color);
}
::-webkit-scrollbar {
  width: 10px;
  padding: 1em;
}
::-webkit-scrollbar-track {
  background: var(--accent-color);
}
::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 50px;
  transition: all 0.3s ;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  background-color: var(--background-color);
  color: var(--text-color);
}

.fade-out {
  opacity: 0;
}

.app-content {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in {
  opacity: 1;
}
