@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body,html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ff0000;
  --background-color:linear-gradient(114deg, rgba(140,6,6,1) 32%, rgba(124,3,3,1) 69%);;
  --accent-color: #222222;
  --text-color: #ffffff;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
